In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility

In [2]:
np.random.seed(10)

# Create a dataframe with two classes

In [3]:
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
print(n_class_0, n_class_1)

900 100

In [5]:
class_0 = pd.DataFrame(
    {
        'feature_1': np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'feature_2': np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'target': [0] * n_class_0
    }
)

class_1 = pd.DataFrame(
    {
        'feature_1': np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'feature_2': np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'target': [1] * n_class_1
    }
)

In [10]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [11]:
df.head()

   feature_1  feature_2  target
0   1.331587  -0.465984       0
1   0.715279   0.067767       0
2  -1.545400  -0.224467       0
3  -0.008384   0.071738       0
4   0.621336  -0.116762       0

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# 1. Upsampling

In [13]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

## Perform Upsampling

In [14]:
from sklearn.utils import resample

In [15]:
df_upsampled_minority = resample(
                                    df_minority,
                                    replace = True, # Sample without replacement
                                    n_samples = len(df_majority), # Match the number of majority classes
                                    random_state = 43
                                )

In [16]:
df_upsampled_minority.head()

     feature_1  feature_2  target
968   1.772953   2.944041       1
964   2.901135   2.836734       1
949   1.793482   3.317082       1
921   3.222312   2.223540       1
958   0.223385   1.924859       1

In [17]:
df_upsampled_minority.shape

(900, 3)

In [19]:
df_upsampled_minority['target'].value_counts()

1    900
Name: target, dtype: int64

In [20]:
df_upsampled = pd.concat([df_majority, df_upsampled_minority])

In [21]:
df_upsampled.head()

   feature_1  feature_2  target
0   1.331587  -0.465984       0
1   0.715279   0.067767       0
2  -1.545400  -0.224467       0
3  -0.008384   0.071738       0
4   0.621336  -0.116762       0

In [22]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [23]:
df_upsampled.shape

(1800, 3)

# 2. Downsampling

In [24]:
class_0 = pd.DataFrame(
    {
        'feature_1': np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'feature_2': np.random.normal(loc = 0, scale = 1, size = n_class_0),
        'target': [0] * n_class_0
    }
)

class_1 = pd.DataFrame(
    {
        'feature_1': np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'feature_2': np.random.normal(loc = 2, scale = 1, size = n_class_1),
        'target': [1] * n_class_1
    }
)

In [25]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [26]:
df.head()

   feature_1  feature_2  target
0  -1.294909  -0.610112       0
1   0.675935  -0.072462       0
2  -0.063833  -0.449761       0
3  -0.471785   1.439996       0
4  -0.419493   0.673595       0

In [27]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [28]:
from sklearn.utils import resample

In [31]:
df_downsampled_majority = resample(
                                    df_majority,
                                    replace = False, # Sample without replacement
                                    n_samples = len(df_minority), # Match the number of minority classes
                                    random_state = 43
                                )

In [33]:
df_downsampled_majority.shape

(100, 3)

In [35]:
df_downsampled = pd.concat([df_minority, df_downsampled_majority])

In [36]:
df_downsampled.head()

     feature_1  feature_2  target
900   1.129568   2.354857       1
901   3.369948   2.037723       1
902   1.375177   0.421639       1
903   3.140080   2.575747       1
904   0.634015   3.611912       1

In [37]:
df_downsampled.shape

(200, 3)

In [39]:
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64