In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
names = df['Name']

In [5]:
first10Names = names[0: 10]

In [6]:
type(first10Names)

pandas.core.series.Series

In [7]:
ind = [chr(i + 65) for i in range(10)]

In [8]:
ind

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [9]:
pd.Series(first10Names, index = ind)

A    NaN
B    NaN
C    NaN
D    NaN
E    NaN
F    NaN
G    NaN
H    NaN
I    NaN
J    NaN
Name: Name, dtype: object

In [10]:
newIndexedSeries = pd.Series(list(first10Names), index = ind)

In [11]:
first10Names[0]

'Braund, Mr. Owen Harris'

In [12]:
newIndexedSeries[0] # as pandas remembers builtin indices

'Braund, Mr. Owen Harris'

In [13]:
newIndexedSeries['A']

'Braund, Mr. Owen Harris'

In [14]:
appendedSeries = newIndexedSeries.append(first10Names)

C:\Users\SOUMYA~1\AppData\Local\Temp/ipykernel_1800/2588324316.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appendedSeries = newIndexedSeries.append(first10Names)

In [15]:
appendedSeries

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [16]:
first10Names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [17]:
newIndexedSeries

A                              Braund, Mr. Owen Harris
B    Cumings, Mrs. John Bradley (Florence Briggs Th...
C                               Heikkinen, Miss. Laina
D         Futrelle, Mrs. Jacques Heath (Lily May Peel)
E                             Allen, Mr. William Henry
F                                     Moran, Mr. James
G                              McCarthy, Mr. Timothy J
H                       Palsson, Master. Gosta Leonard
I    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
J                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [18]:
Series1 = pd.Series([33, 44, 55, 66, 77], index = [1, 2, 5, 9, 7])

In [19]:
Series2 = pd.Series([64, 23, 13, 54, 79], index = [5, 3, 7, 4, 9])

In [21]:
Series3 = Series1.append(Series2)

C:\Users\SOUMYA~1\AppData\Local\Temp/ipykernel_1800/3356049550.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Series3 = Series1.append(Series2)

In [22]:
Series3

1    33
2    44
5    55
9    66
7    77
5    64
3    23
7    13
4    54
9    79
dtype: int64

In [23]:
Series3[5]

5    55
5    64
dtype: int64

In [24]:
Series3[0: 5]

1    33
2    44
5    55
9    66
7    77
dtype: int64

In [26]:
Series1

1    33
2    44
5    55
9    66
7    77
dtype: int64

In [27]:
Series2

5    64
3    23
7    13
4    54
9    79
dtype: int64

In [28]:
Series1 * Series2 # if the indices are both present then perform the operation else NaN

1       NaN
2       NaN
3       NaN
4       NaN
5    3520.0
7    1001.0
9    5214.0
dtype: float64

In [29]:
Series1 + Series2

1      NaN
2      NaN
3      NaN
4      NaN
5    119.0
7     90.0
9    145.0
dtype: float64