# Label And Ordinal Encoding

### Label Encoding: Label Encoding doesn't consider ranking

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame(
    {
        'Color' : ['Red', 'Blue', 'Green', 'Blue', 'Green', 'Red']
    }
)

In [6]:
df

   Color
0    Red
1   Blue
2  Green
3   Blue
4  Green
5    Red

In [3]:
encoder = LabelEncoder()

In [5]:
encoded_values = encoder.fit_transform(df['Color'])

In [7]:
encoded_values

array([2, 0, 1, 0, 1, 2])

In [8]:
df_Label_Encoded = pd.DataFrame(encoded_values)

In [9]:
df_Label_Encoded

   0
0  2
1  0
2  1
3  0
4  1
5  2

In [10]:
pd.concat([df, df_Label_Encoded], axis = 1)

   Color  0
0    Red  2
1   Blue  0
2  Green  1
3   Blue  0
4  Green  1
5    Red  2

### Ordinal Encoding: Ordinal Encoding consider ranking

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
df = pd.DataFrame(
    {
        'Size' : ['Small', 'Large', 'Medium', 'Large', 'Medium', 'Small']
    }
)

In [16]:
df

     Size
0   Small
1   Large
2  Medium
3   Large
4  Medium
5   Small

In [14]:
encoder = OrdinalEncoder(categories = [['Small', 'Medium', 'Large']])

In [18]:
encoder.fit_transform(df[['Size']])

array([[0.],
       [2.],
       [1.],
       [2.],
       [1.],
       [0.]])