In [10]:
import pymongo

In [26]:
client = pymongo.MongoClient("Link")

In [27]:
client.list_database_names()

['admin', 'local']

In [28]:
db = client["my_database"]

In [29]:
client.list_database_names()

['admin', 'local']

In [30]:
collection = db['my_collection']

In [31]:
data = {
        "name" : "Hello",
        "class" : "data science masters",
        "time" : "flexi"
}

In [32]:
collection.insert_one(data)

In [33]:
client.list_database_names()

['my_database', 'admin', 'local']

In [35]:
data2 = [
  {"name" : "Amy", "address" : "Apple st 652"},
  {"name" : "Hannah", "address" : "Mountain 21"},
  {"name" : "Michael", "address" : "Valley 345"},
  {"name" : "Sandy", "address" : "Ocean blvd 2"},
  {"name" : "Betty", "address" : "Green Grass 1"},
  {"name" : "Richard", "address" : "Sky st 331"},
  {"name" : "Susan", "address" : "One way 98"},
  {"name" : "Vicky", "address" : "Yellow Garden 2"},
  {"name" : "Ben", "address" : "Park Lane 38"},
  {"name" : "William", "address" : "Central st 954"},
  {"name" : "Chuck", "address" : "Main Road 989"},
  {"name" : "Viola", "address" : "Sideway 1633"}
]

In [36]:
collection.insert_many(data2)

In [37]:
collection.find_one()

{'_id': ObjectId('63f783e92efb88abe419d3f3'),
 'name': 'Hello',
 'class': 'data science masters ',
 'time': 'flexi'}

In [43]:
list(collection.find())

[{'_id': ObjectId('63f783e92efb88abe419d3f3'),
  'name': 'Hello',
  'class': 'data science masters ',
  'time': 'flexi'},
 {'_id': ObjectId('63f784de2efb88abe419d3f4'),
  'name': 'Amy',
  'address': 'Apple st 652'},
 {'_id': ObjectId('63f784de2efb88abe419d3f5'),
  'name': 'Hannah',
  'address': 'Mountain 21'},
 {'_id': ObjectId('63f784de2efb88abe419d3f6'),
  'name': 'Michael',
  'address': 'Valley 345'},
 {'_id': ObjectId('63f784de2efb88abe419d3f7'),
  'name': 'Sandy',
  'address': 'Ocean blvd 2'},
 {'_id': ObjectId('63f784de2efb88abe419d3f8'),
  'name': 'Betty',
  'address': 'Green Grass 1'},
 {'_id': ObjectId('63f784de2efb88abe419d3f9'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('63f784de2efb88abe419d3fa'),
  'name': 'Susan',
  'address': 'One way 98'},
 {'_id': ObjectId('63f784de2efb88abe419d3fb'),
  'name': 'Vicky',
  'address': 'Yellow Garden 2'},
 {'_id': ObjectId('63f784de2efb88abe419d3fc'),
  'name': 'Ben',
  'address': 'Park Lane 38'},
 {'_id': ObjectId('63f784de2efb88abe419d3fd'),
  'name': 'William',
  'address': 'Central st 954'},
 {'_id': ObjectId('63f784de2efb88abe419d3fe'),
  'name': 'Chuck',
  'address': 'Main Road 989'},
 {'_id': ObjectId('63f784de2efb88abe419d3ff'),
  'name': 'Viola',
  'address': 'Sideway 1633'}]

In [44]:
client.close()