In [2]:
import pandas as pd
from statsmodels.formula.api import ols
import statsmodels.api as sm
import scipy

# Problem 1

In [6]:
df = pd.read_excel('D:/Programming/Data analytics/static/Week 6/Important Data-20220714T173541Z-001/Important Data\RBD.xlsx')
df.columns

Index(['System A', 'System B', 'System C'], dtype='object')

##### ANOVA

In [10]:
data = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['System A', 'System B', 'System C'], var_name='Treatments')

In [16]:
model = ols('value ~ C(Treatments)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ = 1)
anova_table # accept null hypothesis

                 df  sum_sq    mean_sq         F    PR(>F)
C(Treatments)   2.0    21.0  10.500000  3.214286  0.068903
Residual       15.0    49.0   3.266667       NaN       NaN

# RBD

In [17]:
data2 = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['System A', 'System B', 'System C'])
data2.columns = ['Blocks', 'Treatments', 'value']

In [23]:
model2 = ols('value ~ C(Blocks)+C(Treatments)', data = data2).fit()
anova_table2 = sm.stats.anova_lm(model2, type=1)
anova_table2
# In anova we accept the null hypothesis but in RBD we reject it

                 df  sum_sq  mean_sq         F    PR(>F)
C(Blocks)       5.0    30.0      6.0  3.157895  0.057399
C(Treatments)   2.0    21.0     10.5  5.526316  0.024181
Residual       10.0    19.0      1.9       NaN       NaN

# Problem 2

In [24]:
df2 = pd.read_excel('D:/Programming/Data analytics/static/Week 6/Important Data-20220714T173541Z-001/Important Data/rbd2.xlsx')
df2.columns

Index(['chem1', 'chem2', 'chem3', 'chem4'], dtype='object')

In [25]:
data3 = pd.melt(df2.reset_index(), id_vars=['index'], value_vars=['chem1', 'chem2', 'chem3', 'chem4'], var_name='Treatments')

In [28]:
model3 = ols('value ~ C(Treatments)', data=data3).fit()
anova_table3 = sm.stats.anova_lm(model3, type = 1)
anova_table3

                 df  sum_sq   mean_sq          F    PR(>F)
C(Treatments)   3.0  18.044  6.014667  12.589569  0.000176
Residual       16.0   7.644  0.477750        NaN       NaN

In [33]:
data4 = pd.melt(df2.reset_index(), id_vars=['index'], value_vars=['chem1', 'chem2', 'chem3', 'chem4'])
data4.columns = ['Blocks', 'Treatments', 'value'] # Here Blocks are the fabric and Treatments are chemicals

In [34]:
model4 = ols('value ~ C(Blocks)+C(Treatments)', data=data4).fit()
anova_table4 = sm.stats.anova_lm(model4, typ=1)
anova_table4

                 df  sum_sq   mean_sq          F        PR(>F)
C(Blocks)       4.0   6.693  1.673250  21.113565  2.318913e-05
C(Treatments)   3.0  18.044  6.014667  75.894848  4.518310e-08
Residual       12.0   0.951  0.079250        NaN           NaN