In [4]:
import pandas as pd
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [5]:
df = pd.read_excel('D:/Programming/Data analytics/static\Week 6/Important Data-20220714T173541Z-001/Important Data/Twoway.xlsx')
df.head()

   Value  prep_pro         college
0    500  three_hr        Business
1    580  three_hr        Business
2    540  three_hr     Engineering
3    460  three_hr     Engineering
4    480  three_hr  Artsandscience

In [20]:
formula = 'Value ~ C(college)+C(prep_pro)+C(college):C(prep_pro)'
model = ols(formula, df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                         sum_sq   df          F    PR(>F)
C(college)              45300.0  2.0  10.269521  0.004757
C(prep_pro)              6100.0  2.0   1.382872  0.299436
C(college):C(prep_pro)  11200.0  4.0   1.269521  0.350328
Residual                19850.0  9.0        NaN       NaN