# Nominal / OHE(One Hot Encoding)

### Nominal encoding have no ranking

### Disadvantages
#### 1. Generates Sparse Matrix(having manh 0's and 1's) - can lead to overfitting
#### 2. For large number of classes creates many features

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame(
    {
        'Color' : ['Red', 'Blue', 'Green', 'Blue', 'Green', 'Red']
    }
)

In [3]:
df

   Color
0    Red
1   Blue
2  Green
3   Blue
4  Green
5    Red

In [4]:
encoder = OneHotEncoder()

In [5]:
encoded_values = encoder.fit_transform(df[['Color']])

In [6]:
encoded_values

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [7]:
df

   Color
0    Red
1   Blue
2  Green
3   Blue
4  Green
5    Red

In [8]:
encoded_values.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [13]:
df_OHE = pd.DataFrame(encoded_values.toarray(), columns = encoder.get_feature_names_out(), dtype = 'int64')

In [14]:
df_OHE

   Color_Blue  Color_Green  Color_Red
0           0            0          1
1           1            0          0
2           0            1          0
3           1            0          0
4           0            1          0
5           0            0          1

In [15]:
pd.concat([df, df_OHE], axis = 1)

   Color  Color_Blue  Color_Green  Color_Red
0    Red           0            0          1
1   Blue           1            0          0
2  Green           0            1          0
3   Blue           1            0          0
4  Green           0            1          0
5    Red           0            0          1