In [7]:
import pandas as pd

# Question 1

In [2]:
val = [4, 8, 15, 16, 23, 42]
series = pd.Series(val)

In [3]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question 2

In [4]:
val = [i for i in range(10)]
print(val)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
series = pd.Series(val)

In [6]:
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

# Question 3

In [9]:
df = pd.DataFrame(
    {
        "Name" : ["Alice", "Bob", "Claire"],
        "Age" : [25, 30, 27],
        "Gender" : ["Female", "Male", "Female"]
    }
)

In [10]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Question 4

#### A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
#### Pandas Series is a 1 dimensional data structure which can hold only homogeneous data.
#### Pandas DataFrame is a 2 dimensional data structure which can hold heterogenous data means each column can have a different data type.

In [17]:
# Series
val = [i for i in range(10)]
series = pd.Series(val)
print("A series of interges:", series, sep = "\n", end = '\m\m')
print(series.dtype)

A series of interges:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64\m\mint64

In [15]:
# Dataframe
df = pd.DataFrame(
    {
        "Name" : ["Alice", "Bob", "Claire"],
        "Age" : [25, 30, 27],
        "Gender" : ["Female", "Male", "Female"]
    }
)
print("A dataframe having string data as well as integer data:", df, sep = '\n', end = '\n\n')
print(df.dtypes)

A dataframe having string data as well as integer data:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Name      object
Age        int64
Gender    object
dtype: object

# Question 5

#### Here 'df' refers to the dataframe
#### df.reindex(<list-of-indexes>) : Use to reindex the data later.
#### df.sort_values(<column-name>) : Use to sort the values according to the values of the columns.
#### df.drop(<name>, axis = 0(default)): Use to drop a column or row in a dataframe.
#### df.set_index(<column-name>): Use to set a column as index.
#### df.reset_index(): Use to reset the index to the builtin index.
#### df.dropna(): Use to drop NaN values along the specified axis.
#### df.fillna(<value>): Use to replace NaN value with the given value.

# Question 6

#### Series, DataFrame and Panel all have mutable data but Series have immutable size.

# Question 7

In [18]:
val1 = [i for i in range(10)]
val2 = [i for i in range(10, 20)]

In [19]:
val1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
val2

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
series1 = pd.Series(val1, name = "column1")
series2 = pd.Series(val2, name = "column2")

In [30]:
series1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: column1, dtype: int64

In [31]:
series2

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
Name: column2, dtype: int64

In [33]:
df = pd.merge(series1, series2, right_index = True, left_index = True)

In [34]:
df

   column1  column2
0        0       10
1        1       11
2        2       12
3        3       13
4        4       14
5        5       15
6        6       16
7        7       17
8        8       18
9        9       19