In [37]:
import pandas as pd
from scipy import stats

# import scipy
# import math
import statsmodels.api as sm
from statsmodels.formula.api import ols
# from matplotlib import pyplot as plt

In [2]:
df = pd.read_excel('D:/Programming/Data analytics/static/Week 5/oneway.xlsx')

In [14]:
a = df['Black Board ']
b = df['Case Presentation  ']
c = df['PPT ']

In [17]:
stats.f_oneway(a, b, c)

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

In [18]:
data = pd.read_excel('D:/Programming/Data analytics/static/Week 5/oneway.xlsx')

In [19]:
data.head()

   Black Board   Case Presentation    PPT
0             4                    2     2
1             3                    4     1
2             2                    6     3

In [49]:
new_data = pd.melt(data.reset_index(), id_vars=['index'], value_vars=['Black Board ', 'Case Presentation  ', 'PPT '], var_name = 'Treatments')
new_data.columns = ['index', 'Treatments', 'value']

In [50]:
new_data

   index           Treatments  value
0      0         Black Board       4
1      1         Black Board       3
2      2         Black Board       2
3      0  Case Presentation        2
4      1  Case Presentation        4
5      2  Case Presentation        6
6      0                 PPT       2
7      1                 PPT       1
8      2                 PPT       3

In [51]:
model = ols('value ~ C(Treatments)', data = new_data).fit()

In [52]:
anova_table = sm.stats.anova_lm(model, type = 1)

In [53]:
anova_table

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN