In [10]:
import pandas as pd
from statsmodels.stats.multicomp import MultiComparison, pairwise_tukeyhsd
from statsmodels.formula.api import ols
import statsmodels.api as sm

# Tukey Kramer test is also a post hoc analysis

# Problem 1

In [2]:
df = pd.read_excel('D:/Programming/Data analytics/static/Week 5/Tensile strength of paper.xlsx')
df.columns

Index(['hardwood concentration 5%', 'hardwood concentration 10%',
       'hardwood concentration 15%', 'hardwood concentration 20%'],
      dtype='object')

In [3]:
df_r1 = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['hardwood concentration 5%', 'hardwood concentration 10%',
       'hardwood concentration 15%', 'hardwood concentration 20%'], var_name = 'Treatments')

In [4]:
df_r1.head(n = 10)

   index                  Treatments  value
0      0   hardwood concentration 5%      7
1      1   hardwood concentration 5%      8
2      2   hardwood concentration 5%     15
3      3   hardwood concentration 5%     11
4      4   hardwood concentration 5%      9
5      5   hardwood concentration 5%     10
6      0  hardwood concentration 10%     12
7      1  hardwood concentration 10%     17
8      2  hardwood concentration 10%     13
9      3  hardwood concentration 10%     18

In [5]:
mc = MultiComparison(df_r1['value'], df_r1['Treatments'])
mc_result = mc.tukeyhsd(0.05)
mc_result.summary()

# Problem 2

In [6]:
data = pd.read_excel('D:/Programming/Data analytics/static/Week 5/cotton weight.xlsx')
data.columns

Index(['cotwt.15', 'cotwt.20', 'cotwt.25', 'cotwt.30', 'cotwt.35'], dtype='object')

In [7]:
data_r1 = pd.melt(data.reset_index(), id_vars=['index'], value_vars=['cotwt.15', 'cotwt.20', 'cotwt.25', 'cotwt.30', 'cotwt.35'], var_name='Treatments')
data_r1.head(n = 10)

   index Treatments  value
0      0   cotwt.15      7
1      1   cotwt.15      7
2      2   cotwt.15     15
3      3   cotwt.15     11
4      4   cotwt.15      9
5      0   cotwt.20     12
6      1   cotwt.20     17
7      2   cotwt.20     12
8      3   cotwt.20     18
9      4   cotwt.20     18

In [11]:
model = ols('value ~ C(Treatments)', data = data_r1).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  value   R-squared:                       0.747
Model:                            OLS   Adj. R-squared:                  0.696
Method:                 Least Squares   F-statistic:                     14.76
Date:                Sun, 17 Jul 2022   Prob (F-statistic):           9.13e-06
Time:                        17:36:59   Log-Likelihood:                -58.771
No. Observations:                  25   AIC:                             127.5
Df Residuals:                      20   BIC:                             133.6
Df Model:                           4
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     9.8000      1.270      7.719      0.000       7.152      12.448
C(Treatments)[T.cotwt.20]     5.6000      1.796      3.119      0.005       1.855       9.345
C(Treatments)[T.cotwt.25]     7.8000      1.796      4.344      0.000       4.055      11.545
C(Treatments)[T.cotwt.30]    11.8000      1.796      6.572      0.000       8.055      15.545
C(Treatments)[T.cotwt.35]     1.0000      1.796      0.557      0.584      -2.745       4.745
==============================================================================
Omnibus:                        1.435   Durbin-Watson:                   2.402
Prob(Omnibus):                  0.488   Jarque-Bera (JB):                0.957
Skew:                           0.106   Prob(JB):                        0.620
Kurtosis:                       2.065   Cond. No.                         5.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
anova_table = sm.stats.anova_lm(model)
anova_table # As probability is very small we reject H0

                 df  sum_sq  mean_sq          F    PR(>F)
C(Treatments)   4.0  475.76   118.94  14.756824  0.000009
Residual       20.0  161.20     8.06        NaN       NaN

In [15]:
mc2 = MultiComparison(data_r1['value'], data_r1['Treatments'])
mc_result_2 = mc2.tukeyhsd(0.05)
mc_result_2.summary()